.dataData {
  min-height: 55vw;
}

.searchBtn3 {
  border: 1px solid black;
  text-align: center;
  padding: 8px 0px;
}

.searchBtn2 {
  border: 1px solid black;
  text-align: center;
  padding: 8px 0px;
}

.backArrow {
  font-size: 25px;
  color: black;
}

.grey {
  background-color: rgba(0, 0, 0, 0.13);
}

.white {
  background-color: white;
}
